<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>categoryextrafields</name>
    <displayName><![CDATA[test]]></displayName>
    <version><![CDATA[1.3.2]]></version>
    <description><![CDATA[test]]></description>
    <author><![CDATA[kch.software]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>